/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size:17px;
    line-height:24px;
}
/* title headers styles */
h1, h2, h3, h4 {
    font-family:'Oswald', Arial, Helvetica, sans-serif;
    font-weight:400;
}
h1 {
    font-size:40px;
    line-height:44px;
}
h2 {
    font-size:36px;
    line-height:40px;
}
h3 {
    font-size:30px;
}
h4 {
    font-size:26px;
    line-height:30px;
}
h5 {
    font-size:22px;
    line-height:26px;
    letter-spacing:-1px;
}
h6 {
    font-size:19px;
    line-height:23px;
    letter-spacing:-1px;
}
input {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
}
.clearboth {
    clear:both;
}
.capitalization { /* defines a class that makes the font 13px and uppercase */
    text-transform:uppercase;
    font-size:13px;
    line-height:22px;
}

/* header section styles */
.header-wrapper {
    height:300px;
    text-align:center;
}

.title-uline {
    display:inline-block;
    float:none;
    margin:0 0 20px 0;
    padding:0 20px 12px 20px;
    border-bottom: 4px solid #ededed;
}

#newslettersubmit { /* newsletter button */
    position:absolute;
    top:3px;
    right:3px;
    height:36px;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-style:normal;
    padding:8px 22px 8px 22px;
    font-size:13px;
    line-height:20px;
    letter-spacing:2px;
    border:0 none;

    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

/* ------------------- a couple of extra elements styles ------------------- */
.main-content .container { /* main body top / bottom paddings */
    padding:36px 0 44px 0;
}
.centerblock { /* center aligned text block */
    float:left;
    width:100%;
    text-align:center;
    margin:22px 0 10px 0;
}
.intro-text {
    font-size:20px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
    line-height:28px;
}
.content-line, .fline { /* line separator - for content and footer */
    display:block;
    margin-bottom:30px;
    height:4px;
    line-height:0;
    overflow:hidden;
}

/* ------------------- service blocks styles ------------------- */
.service-block {
    float:left;
    width:100%;
    margin:10px 0 18px 0;
    padding:26px 0 16px 0;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.service-img {
    float:left;
    margin:0 18px 0 20px;
}
.service-content {
    float:left;
/*  width:444px; */
    width:414px;
}
.service-content h4 {
    margin:2px 0 6px 0;
}
.service-block {
    border:1px solid #d8e1e6;
}

#letterform ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#letterform li {
  float: left;
  padding: 10px;
}
#letterform li.last {
  float: none;
  clear: both;
  text-align: right;
}

.text-error{
    font-size: 0.6em;
}
ul.navi{
    margin: 2em 0 0 0;
}
ul.navi li {
    display: inline;
    margin-right: 2em;
}

/* ------------------- clients section styles ------------------- */
#footer {
    padding:20px 0 20px 0;
    background:#f6f8f9;
    border-top:1px solid #d8e1e6;
    margin-top: 20px;
}
.clients-list, .clients-list li {
    list-style:none;
}
.clients-list li {
    float:left;
    margin:0 0 0 50px;
}
.clients-list {
    float:right;
    margin:10px 0 10px 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
