{% extends "base.html" %}
{% load i18n %}
    {% block content %}
        <section class="main-content">
            <div class="container">
                <div class="centerblock">
                    <h2 class="title-uline">Antrag auf Übermittlungssperre</h2>
                    <p class="intro-text">Alle reden vom Datenschutz und von der Datensparsamkeit<br />doch kaum jemand macht vom Recht auf informationelle Selbstbestimmung gebrauch.<br />
                    Dabei ist es ganz einfach:</p>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="service-block">
                            <img class="service-img" alt="Home Icon" title="Anschrift eingeben" src="{{ STATIC_URL }}img/form.png">
                            <div class="service-content">
                                <h4>#1 Anschrift eingeben</h4>
                                <p>Für deinen persönlichen Übermittlungssperreantrag benötigen wir deine aktuelle Wohnanschrift. Keine Angst, deine Daten werden weder gespeichert noch geben wir sie weiter.</p>
                            </div>
                        </div>
                        <div class="service-block">
                            <img class="service-img" alt="Drucker Icon" title="Formular ausdrucken" src="{{ STATIC_URL }}img/print.png">
                            <div class="service-content">
                                <h4>#2 Formular ausdrucken</h4>
                                <p>Wurde dein Antrag auf Übermittlungssperre erstellt, musst du ihn ausdrucken. Leider erlauben die Meldeämter noch keine Übermittlung per E-Mail - wir arbeiten daran ;-)</p>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="service-block">
                            <img class="service-img" alt="Formular bearbeiten Icon" title="Unterschreiben" src="{{ STATIC_URL }}img/sign.png">
                            <div class="service-content">
                                <h4>#3 Unterschreiben</h4>
                                <p>Damit dein persönlicher Antrag auf Übermittlungssperre beim Amt rechtsgültig anerkannt wird, musst du ihn anschließend handschriftlich unterschreiben.</p>
                            </div>
                        </div>
                        <div class="service-block">
                            <img class="service-img" alt="Brief Icon" title="Abschicken" src="{{ STATIC_URL }}img/letter.png">
                            <div class="service-content">
                                <h4>#4 Abschicken</h4>
                                <p>Jetzt das Schreiben in einen Briefumschlag stecken, ausreichend frankieren und ab damit zur nächsten Postfiliale. Um auf Nummer sicher zu gehen empfehlen wir das Einsenden als Einschreiben mit Rückschein!</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearboth"></div>
                </div>
            </div>
        </section>

        <section class="form-wrapper">
            <div class="container">
                <div class="centerblock">
                        <h3 class="title-uline">Übermittlungssperren einrichten</h3>
                        <p class="intro-text">Datensparsamkeit fängt beim Einwohnermeldeamt an.<br />Jetzt persönliche Übermittlungssperren einrichten!</p>
                    </div>
                <div class="row-fluid">
                    <div class="span6">
                        <h3>Formular erstellen</h3>
                        <p>
                            Ohne betroffene Personen darüber zu informiert geben deutsche Einwohnermeldeämter persönliche Meldedaten an bspw. Behörden, Firmen oder Adressbuchverlage weiter - ganz legal. Um ihr <a href="http://de.wikipedia.org/wiki/Informationelle_Selbstbestimmung" title="Informationen zur informationellen Selbstbestimmung">Recht auf informationelle Selbstbestimmung</a> wahrnehmen zu können und den Adresshandel einzudämmen, müssen Bürgerinnen und Bürger leider noch immer selbst aktiv werden. Eine Möglichkeit dies zu tun, besteht in der Beantragung von Übermittlungssperren. Wir helfen dabei, diese zu erstellen!</p>
                    </div>
                    <div class="span6">
                        <form id="letterform" action="/form/uebermittlungssperre/" method="post">
                            <ol>
                            {% csrf_token %}
                            {% if form %}
                                {% for field in form %}
                                     <li><label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <br /><small class="error_text">{{error}}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                            <li><input type="submit" value="Formular erstellen" />
                                 {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <br /><small class="error_text">{% trans error %}</small>
                                    {% endfor %}
                                {% endif %}
                            </li>
                        </ol>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
