{% extends "base.html" %}
{% load i18n %}
    {% block content %}
        <!-- Jumbotron -->
        <div class="jumbotron img-rounded">
            <h1>Datensparsamkeit, jetzt!</h1>
            <p class="lead">Einwohnermeldeämter geben ohne deine Zustimmung persönliche
                Daten an Adresshändler, Parteien und andere Interessenten weiter.<br />
                Wir zeigen dir, wie du dem widersprechen kannst:</p>
            <a class="btn btn-large btn-success" href="#">Weitere Informationen</a>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="span8 well">
                <p><b>Datensparsamkeit fängt beim Einwohnermeldeamt an.</b> Um dir bei der
                    Einrichtung einer persönliche Übermittlungssperre zu helfen, brauchen
                    wir nichts weiter als deine Postleitzahl!</p>
                <p class="input-prepend input-append">
                    <span class="add-on">Deine Postleitzahl:</span>
                    <input class="span4" id="appendedInputButton" type="text">
                    <button class="btn btn-primary" type="button">Los geht's!</button>
                </p>
            </div>
            <div class="span4">
                <br />
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
                  <p><a class="btn btn-info" href="#">Mehr erfahren &raquo;</a></p>
            </div>
        </div>

        <!-- Example row of columns -->
        <div class="row-fluid">
        <div class="span4">
            <h2>Meldewesen</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">Weitere Infos &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Übermittlungssperre</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">Weitere Infos &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Datensparsamkeit</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <p><a class="btn" href="#">Weitere Infos &raquo;</a></p>
        </div>
    {% endblock %}
