{% load i18n %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="de" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="de" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="de" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="de" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Datensparsam leben - Übermittlungssperren einrichten!</title>
        <meta name="description" content="Einfach Datensparsam: Mit Übermittlungssperren vom Recht auf informationelle Selbstbestimmung gebrauch machen und private Daten schützen!" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/ico" href="{{ STATIC_URL }}favicon.ico" />
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}icon.png" />
        <link type="text/plain" rel="author" href="{{ STATIC_URL }}humans.txt" />
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@openevrthng" />
        <meta property="twitter:creator" content="@jbspeakr" />
        <meta property="twitter:image" content="{{ STATIC_URL }}img/logo.png" />
        <meta property="twitter:description" content="Einfach Datensparsam: Mit Übermittlungssperren vom Recht auf informationelle Selbstbestimmung gebrauch machen und private Daten schützen!" />
        <meta property="og:locale" content="de_DE"/>
        <meta property="og:description" content="Einfach Datensparsam: Mit Übermittlungssperren vom Recht auf informationelle Selbstbestimmung gebrauch machen und private Daten schützen!" />
        <meta property="og:title" content="Datensparsam: Deutschlands erster Generator für Übermittungssperren"/>
        <meta property="og:url" content="http://www.datensparsam.de"/>
        <meta property="og:site_name" content="Datensaprsam"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="{{ STATIC_URL }}img/logo.png" />
        <link rel="author" href="https://plus.google.com/u/0/114762336236844514551/posts" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:400&amp;subset=latin,latin-ext" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header class="header-wrapper">
            <div class="container">
                <div id="logo">
                    <a href="/"><img alt="Datensparsam: Übermittlungssperren beim Meldeamt" title="Übermittlungssperre - Datensparsam" src="{{ STATIC_URL }}img/logo.png"></a>
                    <h1>Datensparsam</h1>
                </div>
                <div class="cs-title">
                    <p class="intro-text">Deutschland's erster Generator für Übermittungssperren</p>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <div class="navigation">
            <div class="container">
                <div class="row-fluid">
                    <ul class="span12 unstyled pagination-centered navi">
                        <li><a href="/hilfe/ueber-uns/" title="">Über uns</a></li>
                        <li><a href="/hilfe/datenschutz/" title="">Datenschutzerklärung</a></li>
                        <li><a href="/hilfe/faq/" title="">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="span2">
                        <h3>Unterstützer</h3>
                    </div>
                    <div class="span10">
                        <ul class="clients-list">
                            <li><a href="http://www.openeverything.eu/" title="OpenEverything: Open-Data, Open-Access &amp; Open-Design"><img alt="Openeverything.eu - Open Data Blog" src="{{ STATIC_URL }}img/openeverything.png"></a></li>
                            <li><a href="http://okfn.de" title="Open Knowledge Foundation Deutschland"><img alt="Open Knownledge Foundation, OKF" src="{{ STATIC_URL }}img/open-knowledge-foundation.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/plugins.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://www.berlinpiraten.de/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "2"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
    </body>
</html>
