{% extends "base.html" %}
{% load i18n %}
{% block nav_generator %}active{% endblock %}
{% block meta %}
<meta http-equiv="refresh" content="3;url={% url 'pdfbuilder-pdf' %}">
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span8">
            <h1>Übermittlungssperre-Formular erstellt!</h1>
            <p class="lead"><b>Der Download ihres Übermittlungssperre-Formular startet in Kürze!</b> Alternativ können Sie den Download auch manuell starten: <a href="{% url 'pdfbuilder-pdf' %}" title="Übermittlungssperre-Formular herunterladen">Formular downloaden</a></p>
        </div>
        <div class="span4 well">
            <p><b>Danke sagen:</b> <a href="https://flattr.com/thing/1170647/Datensparsam-de" target="_blank"><img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a></p>
            <p>Datensparsam.de wurde von Jan Brennenstuhl erstellt - er freut sich über jeden Flattrer!</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h2>Die nächsten Schritte:</h2>
            <div class="row-fluid">
                <div class="span4">
                    <h3>1 - Ausdrucken</h3>
                    <p>Wurde Ihr Antrag auf Übermittlungssperre erfolgreich heruntergeladen, müssen Sie ihn ausdrucken. Leider erlauben deutsche Meldeämter noch keine Übermittlung per E-Mail - wir arbeiten daran!</p>
                </div>
                <div class="span4">
                    <h3>2 - Unterschreiben</h3>
                    <p>Damit Ihr persönlicher Antrag auf Übermittlungssperre bei der zuständigen Meldestelle als rechtsgültig anerkannt wird, müssen Sie ihn anschließend handschriftlich signieren.</p>
                </div>
                <div class="span4">
                    <h3>3 - Abschicken</h3>
                    <p>Jetzt das Schreiben in einen Briefumschlag stecken, ausreichend frankieren und ab damit zur nächsten Postfiliale. Um auf Nummer sicher zu gehen, empfehlen wir das Einsenden als Einschreiben mit Rückschein!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
