{% extends "base.html" %}
{% load i18n %}
{% block nav_generator %}active{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span12 well">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><b>Handel mit persönlichen Daten:</b> Ohne betroffene Personen darüber zu informieren, geben deutsche Einwohnermeldeämter persönliche Meldedaten an Behörden, Firmen oder Adressbuchverlage weiter - ganz legal. Um ihr <a href="http://de.wikipedia.org/wiki/Informationelle_Selbstbestimmung" title="Informationen zur informationellen Selbstbestimmung">Recht auf informationelle Selbstbestimmung</a> wahrnehmen zu können und den Adresshandel einzudämmen, müssen Bürgerinnen und Bürger leider noch immer selbst aktiv werden. Eine Möglichkeit dies zu tun, besteht in der Beantragung von Übermittlungssperren. Dieser Generator hilft dabei, diese zu erstellen!</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <h1>Übermittlungssperre-Generator</h1>
            <p class="lead">Ohne betroffene Personen darüber zu informieren, geben deutsche Einwohnermeldeämter persönliche Meldedaten an Behörden, Firmen oder Adressbuchverlage weiter - ganz legal.</p>
            <p>Um ihr <a href="http://de.wikipedia.org/wiki/Informationelle_Selbstbestimmung" title="Informationen zur informationellen Selbstbestimmung">Recht auf informationelle Selbstbestimmung</a> wahrnehmen zu können und den Adresshandel einzudämmen, müssen Bürgerinnen und Bürger leider noch immer selbst aktiv werden. Eine Möglichkeit dies zu tun, besteht in der Beantragung von Übermittlungssperren. Dieser Generator hilft dabei, diese zu erstellen!</p>
            <form class="form-horizontal" action="{% url 'pdfbuilder-pdf' %}" method="POST">
                <fieldset>
                    <legend><b>Schritt 1</b> Postleitzahl</legend>
                    <p>Anhand von Postleitzahlen ermittelt der Formular-Generator zuständige Meldestelle. Bitte tragen Sie deshalb Ihre Postleitzahl in das nachstehende Feld ein.</p>
                    <div id="zipcodeInfo" class="alert alert-info js-hidden">
                        <b>Bitte um Mithilfe</b> - Leider liegen uns zu dieser Postleitzahl (noch) keine Informationen vor. <a href="#">Bitte schreiben Sie uns doch eine E-Mail</a> und wir werden diesen Missstand beheben.
                    </div>
                    <div id="zipcodeError" class="alert alert-error js-hidden">
                        <b>Achtung</b> - Die von Ihnen eingegebene Postleitzahl kann von unserem Formular-Generator nicht verarbeitet werden. Bitte beachten Sie, dass deutsche Postleitzahlen fünfstellig sind und nur aus Ziffern bestehen.
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputZipcode">Ihre Postleitzahl:</label>
                        <div class="controls">
                            <input type="text" id="inputZipcode" name="zipcode" placeholder="12051" value="{{ zipcode }}" />
                            <span class="help-block info">Bspw. 12051, 15344 oder 54450</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button id="zipcodeSubmit" type="submit" class="btn" data-loading-text="Laden..."><i class="icon-arrow-right"></i> Nächster Schritt</button>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="muted"><b>Schritt 2</b> Empfänger</legend>
                    <div id="municipality" class="js-hidden">
                        <p>Ihre Postleitzahl ist nicht eindeutig, da sie mehreren Gemeinden zugeordnet werden kann. Bitte wählen Sie ihre Gemeinde aus.</p>
                        <div class="control-group">
                            <label class="control-label" for="municipality-id">Ihre Gemeinde:</label>
                            <div class="controls">
                                <select class="input-xlarge" name="municipality" id="municipality-id"></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button id="municipalitySubmit" type="submit" class="btn"><i class="icon-arrow-right"></i> Nächster Schritt</button>
                            </div>
                        </div>
                    </div>
                    <div id="registrationOffice" class="js-hidden">
                        <p>In Ihrer Gemeinde befinden sich mehrere Meldeämter. Bitte wählen Sie das Amt aus, an das Ihr Antrag auf Übermittlungssperre adressiert werden soll.</p>
                        <div class="control-group">
                            <label class="control-label" for="registrationoffice-id">Ihr Einwohnermeldeamt:</label>
                            <div class="controls">
                                <select class="input-xlarge" name="registrationoffice" id="registrationoffice-id"></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button id="registrationOfficeSubmit" type="submit" class="btn"><i class="icon-arrow-right"></i> Nächster Schritt</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="muted"><b>Schritt 3</b> Anschrift</legend>
                    <div id="address" class="js-hidden">
                        <p>Damit Ihr Antrag auf Übermittlungssperre Ihnen vom Einwohnermeldeamt eindeutig zugeordnet werden kann, ist ihre komplette Anschrift notwendig. Bitte überprüfen Sie Ihre Angaben, bevor Sie ihr Formular generieren lassen.</p>
                        <div class="control-group">
                            <label class="control-label" for="firstname">Vorname</label>
                            <div class="controls">
                                <input type="text" id="firstname" name="firstname" placeholder="Maxi">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">Nachname</label>
                            <div class="controls">
                                <input type="text" id="name" name="name" placeholder="Mustermann">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="address">Straße/ Hausnummer</label>
                            <div class="controls">
                                <input type="text" id="address" name="address" placeholder="Lindenstr. 6">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="city">Stadt</label>
                            <div class="controls">
                                <input type="text" id="city" name="city" placeholder="Berlin">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button id="formSubmit" type="submit" class="btn btn-success"><i class="icon-download icon-white"></i> Formular generieren</button>
                        </div>
                    </div>
                </fieldset>
                {% csrf_token %}
            </form>
        </div>
        <div class="span4 alert alert-info">
            <h3>Hinweise &amp; Informationen</h3>
            <ul>
                <li><b>Schritt 1</b> - Auf Basis Ihrer Postleitzahl versucht der Formular-Generator Einwohnermeldeämter in Ihrer Umgebung zu finden.</li>
                <li><b>Schritt 2</b> - Wählen Sie ein Einwohnermeldeamt in ihrer Nähe aus, an das ihr Antrag auf Übermittlungssperre gerichtet sein soll. Kann für ihre Postleitzahl kein Einwohnermeldeamt ermittelt werden, wählen Sie bitte Ihre Gemeinde als Empfänger aus.</li>
                <li><b>Schritt 3</b> - Um Ihren persönlichen Antrag auf Übermittlungssperre erstellen zu könnnen benötigen wir Ihre aktuelle Meldeanschrift. Keine Angst, Ihre Daten werden weder gespeichert noch geben wir sie weiter.</li>
            </ul>
        </div>
    </div>
{% endblock %}
