{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="row-fluid">
        <div class="span8">
            <h1>Wer betreibt Datensparsam.de?</h1>
            <p class="lead">Datensparsam.de ist ein Projekt der <b>Open Knowledge Foundation Deutschland</b> mit dem sich personalisierte Anträge für Übermittlungssperren einfach erstellen lassen.</p>
            <p>Als Think- und Do-Tank konzentriert sich die <a href="http://www.okfn.de" title="Open Knowledge Foundation Deutschland">Open Knowledge Foundation Deutschland</a> auf die Umsetzung anwendungsorientierter Projekte, die einen gesellschaftlichen Mehrwert aus offenem Wissen schaffen. Durch den konkreten Nutzen ihrer Projekte für einzelne Bürger sowie für Politik, Verwaltung, Wirtschaft, Journalismus und Wissenschaft animiert sie Andere, sich ebenfalls für offenes Wissen einzusetzen.</p>
        </div>
        <div class="span4 well">
            <h3>Ansprechpartner</h3>
            <p>Jan Brennenstuhl<br />info@datensparsam.de</p>

            <h3>Anschrift</h3>
            <address>
                Open Knowledge Foundation Deutschland e.V.<br />
                Schlesische Str. 6<br />
                10997 Berlin
            </address>
        </div>
    </div>
{% endblock %}
