{% extends "base.html" %}
{% load i18n %}
{% block nav_information %}active{% endblock %}
{% block content %}
    <h1>Informationen zu Übermittlungssperren</h1>
    <h2 id="Meldewesen">Meldewesen in Deutschland</h2>
    <div class="row-fluid">
        <div class="span8">
            <p><b>Das Meldewesen wird in Deutschland durch <a href="http://de.wikipedia.org/wiki/Meldegesetz" title="Meldegesetz - Wikipedia">Meldegesetze</a> geregelt.</b> Diese zwingen Bürgerinnen und Bürger nicht nur dazu, persönliche Daten an Meldestellen übermitteln zu müssen, sondern erlauben es staatlichen Stellen zudem, diese schützenswerten Personendaten ganz ungeniert weiterzuverwenden!</p>
            <p>So lassen sich Einwohnermeldebehörden im Zuge von Wohnort-Anmeldungen die Nutzung der im Melderegister gespeicherten persönlichen Daten genehmigen. "Nutzung" bedeutet hierbei, dass die Datensätze im Rahmen einer Melderegisterauskunft zum Beispiel an Adressbuchverlage oder sogar an Unternehmen <a href="http://www.verbraucherzentrale-niedersachsen.de/UNIQ136723075404031/link1810783A.html" title="Übermittlungssperren - Verbraucherzentrale Niedersachsen">für Zwecke der Direktwerbung</a> weitergegeben werden - ganz legal.</p>
            <small>Foto: <a href="http://commons.wikimedia.org/wiki/File:Bundesarchiv_Bild_183-2006-0403-503,_Einwohnermeldeamt_Berlin,_Br%C3%BCderstra%C3%9Fe.jpg">Bundesarchiv, Bild 183-2006-0403-503 / CC-BY-SA</a></small>
        </div>
        <div class="span4">
            <img src="{{ STATIC_URL }}/img/Bundesarchiv_Einwohnermeldeamt_Berlin_Bruederstr.jpg" title="" alt="" />
        </div>
    </div>
    <hr />
    <h2 id="Datensparsamkeit">Gesetz zur Fortentwicklung des Meldewesens</h2>
    <div class="row-fluid">
        <div class="span4">
            <img src="{{ STATIC_URL }}/img/Bundesarchiv_Dresden-Ost.jpg" title="" alt="" />
        </div>
        <div class="span8">
            <p><b>Trotz Novellierung keine Besserung in Sicht!</b> Mit dem Gesetz zur Fortentwicklung des Meldewesens setzt die Bundesregierung eine Vorgabe der Föderalismusreform von 2006 um. Trotz zunächst positiver, datenschutzrechtlicher Intentionen, wandelten die Gesetzesvorlagen das Vorhaben zwischenzeitlich in ein <a href="http://www.fr-online.de/datenschutz/meldegesetz-regierung-will-meldegesetz-umarbeiten,1472644,16576426.html" title="Regierung will Meldegesetz umarbeiten">"Geschenk für die Werbewirtschaft"</a>.</p>
            <p>Zwar wurde an einigen Stellen nachgebessert, die aktuell geplante Novellierung der Meldegesetze in Deutschland bleibt dennoch weiterhin stark umstritten. Verbraucherschützer und Datenschützer empfehlen deshalb auch in Zukunft <a href="http://www.badische-zeitung.de/deutschland-1/einigung-auf-meldegesetz--69583261.html" title="Einigung auf Meldegesetz - Badische Zeitung">"die Meldebehörde davon in Kenntnis zu setzen, wenn man die Abfrage seiner Daten nicht erlauben möchte"</a>.</p>
            <small>Foto: <a href="http://commons.wikimedia.org/wiki/File:Bundesarchiv_Bild_183-1989-1110-032,_Dresden-Ost,_Visaerteilung.jpg">Bundesarchiv, Bild 183-1989-1110-032 / Häßler, Ulrich / CC-BY-SA</a></small>
        </div>
    </div>
    <hr />
    <h2 id="Uebermittlungssperren">Übermittlungssperren einrichten</h2>
    <div class="row-fluid">
        <div class="span8">
            <p><b>Widerspruch einlegen!</b> Um sich gegen die ungewollte Nutzung und Weitergabe der im Melderegister gespeicherten Daten an Dritte wehren zu können, müssen Bürgerinnen und Bürger in Deutschland noch immer selbst aktiv werden und Widerspruch gegen die "Nutzung" persönlicher Daten einlegen.</p>
            <p>Das Mittel der Wahl für einen solchen Widerspruch sind Anträge auf Übermittlungssperren. Da sich diese allerdings von Bundesland zu Bundesland unterscheiden und darüber hinaus auch nicht leicht auffindbar sind, bedarf es spezieller Werzeuge, die Bürgerinnen und Bürgern bei der Erstellung eines Widerspruchs helfen. <a href="https://www.datensparsam.de" title="Datensparsam - Übermittlungssperren Generator">Datensparsam.de</a> ist so ein Werzeug!</p>
            <small>Foto: <a href="http://commons.wikimedia.org/wiki/File:Bundesarchiv_Bild_183-1989-1110-022,_Berlin,_Marchlewskistra%C3%9Fe,_Passerteilung.jpg">Bundesarchiv, Bild 183-1989-1110-022 / Settnik, Bernd / CC-BY-SA</a></small>
        </div>
        <div class="span4">
            <img src="{{ STATIC_URL }}/img/Bundesarchiv_Berlin_Marchlewskistr.jpg" title="" alt="" />
        </div>
    </div>
    <hr />
    <h2 id="Datensparsamkeit">Datensparsamkeit fordern</h2>
    <div class="row-fluid">
        <div class="span4">
            <img src="{{ STATIC_URL }}/img/Bundesarchiv_Einwohnermeldeamt_Berlin.jpg" title="" alt="" />
        </div>
        <div class="span8">
            <p><b>Persönliche Daten sind keine Ware!</b> <a href="http://de.wikipedia.org/wiki/Datensparsamkeit" title="Datensparsamkeit und Datenvermeidung">Datensparsamkeit und Datenvermeidung</a> sind anerkannte Konzepte des Datenschutz. Die Grundidee bei Beiden ist, dass im Rahmen von Datenverarbeitungen nur so viele personenbezogene Daten gesammelt werden, wie für die jeweilige Anwendung unbedingt notwendig sind. In Deutschland sind Datensparsamkeit und Datenvermeidung in § 3a Bundesdatenschutzgesetz (BDSG) festgeschrieben.</p>
            <p>Vor diesem Hintergrund bleibt es fragwürdig, warum Einwohnermeldeämter überhaupt personenbezogene Daten an Dritte weitergeben dürfen, übersteigt diese Weiterverwendung doch bei Weitem die Zweckgebundenheit der eigentlichen Datenerhebung.</p>
            <small>Foto: <a href="http://commons.wikimedia.org/wiki/File:Bundesarchiv_Bild_183-2006-0403-501,_Das_Einwohnermeldeamt_in_Berlin.jpg">Bundesarchiv, Bild 183-2006-0403-501 / CC-BY-SA</a></small>
        </div>
    </div>
{% endblock %}
